@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Mulish&family=Poppins:wght@700&display=swap');

$font1: 'Montserrat', sans-serif;
$font2: 'Mulish', sans-serif;
$font3: 'Poppins', sans-serif;
$principal-color: #EB5757;
$dark-color: #333333;
